:root {
  --yellow: #fabc3c;
  --orange: #e55812;
  --black: #002626;
  --white: #fffbfc;
  --warm-black: #0e4749;
}

header {
  height: 15vh;
  background: var(--black);
  display: grid;
  place-content: center;
}

h1 {
  text-align: center;
  color: var(--white);
}

main {
  min-height: 85vh;
  background-color: white;
}

.viewSection {
  background-color: var(--yellow);
  height: 75vh;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.top-nav {
  background-color: var(--yellow);
}

.tab-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 0;
  padding: 20px;
  list-style: none;
  text-align: center;
}

h3 {
  color: var(--black);
}

.imageContainer{
  display: grid;
  place-items: center;
}

img{
  object-fit: cover;
  height: 16rem;
  width: 16rem;
}